.mainBlock{
    width: 100%;
    display: inline-block;
    position: relative;
}

.mainBlock__title{
    width: 353px;
    margin-top: 170px;
    padding-left: 78px;
    clip: rect(0px, 85px, 170px, 0px);
    font-weight: 700;
    font-size: 56px;
    line-height: 67px;
    color: #42567A;

    border-left: 5px solid transparent;
    background: linear-gradient(#F4F5F9, #F4F5F9) no-repeat,
                linear-gradient(180deg, #3877EE -5%, #EF5DA8 85%) ;

}

.mainBlock__date{
    pointer-events: none;
    text-align: center;
    margin-top: 96px;
    font-weight: 700;
    line-height: 160px;
    letter-spacing: -0.02em;
    font-size: 200px;
}

.mainBlock__date--start{
    display: inline-block;
    color: #5D5FEF;
    margin-right: 96px;
}

.mainBlock__date--end{
    display: inline-block;
    color: #EF5DA8;
}

.mainBlock__nameDate{
    position: absolute;
    top: 230px;
    left: 905px;
    
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #42567A;
}


//
// media
// 

@media (max-width: 1440px) {
    .mainBlock__nameDate{
        position: initial;
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .mainBlock{
        padding: 0 20px;
        padding-bottom: calc(57px - 30px); // height of nameDate
        border-bottom: 1px solid #C7CDD9;
        position: initial;
    }
    .mainBlock__title {
        width: 123px;
        border: none;
        font-size: 20px;
        line-height: 24px;
        padding: 0;
        margin-top: 59px;
        background: none;
    }
    .mainBlock__date{
        margin-top: 56px;
        font-size: 56px;
        line-height: 72px;
        text-align: initial;
    }
    .mainBlock__date--start{
        margin-right: 30px;
        color: #3877EE;
    }

}